<div class="content">
  <mat-toolbar class="page-header-bar" color="primary">
    <span>Link Integration Testing</span>
  </mat-toolbar>


  <mat-card class="resource-card">
    <mat-card-content>
      <mat-card-actions class="button-container">
        <button mat-raised-button color="primary" (click)="createConsumers()">
          <mat-icon>event</mat-icon>
          Create Consumers
        </button>
        <button mat-raised-button color="primary" (click)="deleteConsumers()">
          <mat-icon>event</mat-icon>
          Delete Consumers
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <mat-card class="resource-card">
    <mat-card-content>
      <div class="table-container">
        <table class="table">
          <thead>
          <tr>
            <th>Topic</th>
            <th>Correlation IDs</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let entry of consumersDataOutput | keyvalue">
            <td [style.color]="entry.key.includes('Error') ? 'red' : 'black'">{{ entry.key }}:</td>
            <td>
              <ul>
                <div *ngFor="let item of entry.value">{{ item }}</div>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="resource-card">
    <mat-card-content>
      <form [formGroup]="eventForm">
        <div class="input-container">
          <mat-form-field class="form-select" appearance="outline">
            <mat-label>Event</mat-label>
            <mat-select formControlName="event">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let event of events" [value]="event">
                {{event}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="eventControl.hasError('required')">
              Event is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <!-- Event Forms -->
      <app-report-scheduled-form (eventGenerated)="onEventGenerated($event)" *ngIf="showReportScheduledForm"></app-report-scheduled-form>
      <app-patient-event-form (eventGenerated)="onEventGenerated($event)" *ngIf="showPatientEventForm"></app-patient-event-form>
      <app-data-acquisition-reqeusted-form (eventGenerated)="onEventGenerated($event)" *ngIf="showDataAcquisitionRequestedForm"></app-data-acquisition-reqeusted-form>
      <app-patient-acquired-form   (eventGenerated)="onEventGenerated($event)" *ngIf="showPatientsAcquiredForm"></app-patient-acquired-form>
    </mat-card-content>
  </mat-card>

</div>
